@page
@model BookStoreRazorDbFirst.Pages.LoginModel
@{
    Layout = "_UserLayout";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="form-modern">
                <h2 class="admin-title text-center mb-2">Admin Giriş</h2>
                <p class="text-muted text-center mb-4">Yönetim paneline giriş yap</p>

                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        @Model.ErrorMessage
                    </div>
                }

                <form method="post">
                    <div class="mb-3">
                        <label>Kullanıcı Adı</label>
                        <input asp-for="UserName" class="form-control" placeholder="admin" />
                    </div>

                    <div class="mb-4">
                        <label>Şifre</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="123" />
                    </div>

                    <button class="btn btn-dark w-100">Giriş Yap</button>
                </form>

                <a href="/" class="btn btn-secondary w-100 mt-3">Ana Sayfa</a>
            </div>

        </div>
    </div>
</div>